.current-image {
    width: 85vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.current-image img {
    width: 45%;
    border-radius: 15px;
    margin: 2em;
}

/* img :hover {
    opacity: 70%;
} */