.current-image {
    width: 85vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.current-image img {
    width: 95%;
    border-radius: 15px;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main button {
    width: 5em;
    margin: 2em;
    padding: 0;
}