body {
  background-color: rgb(224, 224, 238);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
}

.photo-container div {
  margin: 0;
  width: 100%;
  height: 100%;
}
.photo-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h3 {
  text-align: center;
}

button {
  border-style: none;
  padding: 0;
  height: 100%;
  width: 20%;

}